<!-- Пример для app/views/devise/sessions/new.html.erb -->
<h2>Log In</h2>

<% if flash[:alert] %>
  <div class="error-message"><%= flash[:alert] %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-container' }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
